@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}
h1,
h2,
.quote {
    font-weight: 900;
    line-height: 1;
}
h1,
h2,
h3,
p, 
button {
    margin-bottom: 1em;
}

.text-center {
    text-align: center;
}

.main.container,
section {
    padding: 3rem 0;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    display: flex;
    flex-direction: column;
}

@media (min-width: 40rem){
    .split {
        flex-direction: row;
    }
    .split > * {
        flex-basis: 100%;
        margin-right: 2em;
    }
}

.bg-header {
    color: #F9FAF8;
    background-color: #bb0bbbf7;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    max-width: 90px;
} 
.logo img,
div img{
    border-radius: 12px;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}
nav a:hover{
    color: lightpink;
}
nav a {
    color: #F9FAF8;
    text-decoration: none;
    font-weight: bold;
}
nav li,
.main.container p {
    color: #E5E7EB;
    font-size: 18px;
}
h1 {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}
h2, ul, button {
    margin-top: 1em;
}
button {
    color: #F9FAF8;
    background-color: #3882f6;
    width: 200px;
    padding: 7px;
    border-radius: 0.5rem;
    border-color: #d5dbe5;
}
.bg-quote {
    background-color: #E5E7EB;
    color: #1F2937;
}
.quote {
    font-size: 26px;
}
.autor {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}
.action.container {
    background-color: #387ef7;
    color: #F9FAF8;
    border-radius: 12px;
    padding: 20px;
    align-items: center;
}
.action.container :first-child {
    flex: 0 0 auto;
}
footer {
    text-align: center;
    padding: 12px;
}